<a href="https://colab.research.google.com/github/esleire/Box-Office-Cinema/blob/master/BoxOffice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
train = pd.read_csv('drive/MyDrive/ML2/train.csv')
test = pd.read_csv('drive/MyDrive/ML2/test.csv')
sampleSubmission = pd.read_csv('drive/MyDrive/ML2/sample_submission.csv')

In [13]:
train.head()

   id  ...   revenue
0   1  ...  12314651
1   2  ...  95149435
2   3  ...  13092000
3   4  ...  16000000
4   5  ...   3923970

[5 rows x 23 columns]

In [14]:
test.head()

     id  ...                                               crew
0  3001  ...  [{'credit_id': '52fe44e7c3a368484e03d683', 'de...
1  3002  ...  [{'credit_id': '55807805c3a3685b1300060b', 'de...
2  3003  ...  [{'credit_id': '52fe4330c3a36847f8041367', 'de...
3  3004  ...  [{'credit_id': '56478092c3a36826140043af', 'de...
4  3005  ...  [{'credit_id': '52fe44ce9251416c75041967', 'de...

[5 rows x 22 columns]

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB